Django
djangorestframework
django-cors-headers
pyresparser
pdfminer.six
python-docx
spacy
python-magic
uuid
docx2txt

# Production dependencies
dj-database-url
psycopg2-binary
gunicorn
whitenoise

# Security and monitoring
django-extensions
django-debug-toolbar

# Environment variables
python-decouple



# [Environment]::SetEnvironmentVariable("GOOGLE_API_KEY", "AIzaSyDepaU8Ku0dNGSp6YOUX4pCFMNNwH4AMf0", "User")